<nav class="h-[8vh] bg-slate-800" id="navbar">
  <ul class="flex items-center h-[8vh] gap-3 justify-end mr-36">
    <li
      class="bg-amber-500 p-2 px-3 rounded-2xl hover:bg-amber-400 hover:scale-[.98]"
    ><button id="logout">Login</button></li>
    <li
      class="bg-zinc-400 p-2 px-3 rounded-2xl hover:bg-zinc-300 hover:scale-[.98]"
    ><a href="/users/register">Register</a></li>
  </ul>
</nav>